*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
nav ul{
    list-style:none;
}
nav ul li{
    display:inline;
}
nav ul li a{
    background-color: aquamarine;
    color:black;
    text-decoration:none;
    padding:10px;
}
nav ul li a:hover{
    background-color: black;
    color: aquamarine;
}