.box{
    font-size:16px;
    p{
        font-size: 2em;
        padding:2em;
    }

}
.box1{
    font-size: 25px;
    p{
        font-size:2rem; //root lai herera garx
        border:1px solid black;
    }
}
