* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 700px;
  background-image: url("https://www.sangalotech.com/html/15/assets/images/hero-banner.jpg");
  background-size: cover;
}
.main-content {
  width: 500px;
  text-align: center;
  border: 1px solid black;
  margin: 116px;
  color: white;
  line-height: 77px;
}
.main-content h2 {
  font-size: 65px;
}
.main-content h1 {
  font-size: 70px;
}
.main-content p {
  font-weight: 500;
  font-size: 28px;
}
.main-content a {
  padding: 8px 25px;
  background-color: black;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
}
.main-content a :hover {
  background-color: hsl(15, 81.73%, 56.88%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav h1 {
  font-size: 42px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  list-style: none;
}
@media (max-width: 480px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    display: none;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  font-size: 24px;
}

.feature {
  padding: 20px;
}
.feature h1 {
  padding: 40px;
  text-align: center;
  color: black;
  font-size: 42px;
}
.feature h1 span {
  color: hsl(15, 81.73%, 56.88%);
}

.ft-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ft-content .fbox {
  width: 221px;
  height: 238px;
  border: 1px solid black;
}
.ft-content .fbox p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
}
.ft-content .fbox img {
  width: 218px;
  height: 201px;
  border-radius: 10px;
}
.ft-content .info {
  border: 1px solid black;
}
.ft-content .info .box1 {
  background-image: url("https://www.sangalotech.com/html/15/assets/images/offer-banner-1.jpg");
}
.ft-content .info .box2 {
  background-image: url("https://www.sangalotech.com/html/15/assets/images/offer-banner-2.jpg");
}
.ft-content .info .box3 {
  background-image: url("https://www.sangalotech.com/html/15/assets/images/offer-banner-3.jpg");
}
.ft-content .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  text-align: left;
  line-height: 38px;
  width: 380px;
  height: 270px;
  background-size: cover;
  padding: 17px;
  border: 1px solid black;
}
.ft-content .info-box h1 {
  font-size: 40px;
}
.ft-content .info-box p {
  text-transform: uppercase;
  font-weight: 700;
}
.ft-content .info-box a {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: hsl(15, 81.73%, 56.88%);
  border-radius: 20px;
}