@import 'mixin';
@import 'var';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.main{
    @include wh(100%,700px);
    background-image: url("https://www.sangalotech.com/html/15/assets/images/hero-banner.jpg");
    background-size:cover;
    &-content{
        width:500px;
        text-align: center;
        border: $b;
        margin:116px;
     color: white;
     line-height:77px;
        h2{
            font-size: 65px;
   
        }
        h1{
            font-size: 70px;
         
        }
        p{
            font-weight: 500;
            font-size:28px;
       
        }
        a{
            :hover{
                background-color: hsl(15deg 81.73% 56.88%);
            }
         
            padding:8px 25px;
            background-color: black;
            text-decoration: none;
            color:white;
            font-weight: bold;
            border-radius: 50px;

        }
    }
}
header{
    @include flex(40px);
    padding:20px;
    justify-content: space-between;
    align-items: center;
    color:white;

    nav{
        @include flex(30px);
        align-items: center;
        h1{
            font-size:42px;
        }
        ul{
            @include flex(30px);
            list-style:none;
            @include res(480px){
                @include flex(40px,column);
                display: none;
            }
            li{
                a{
                    color:white;
                    text-decoration: none;
                    border:$b;
                    padding:10px;
                }
            }
        }
    }
}
.header-right{
    @include flex(30px);
    font-size: 24px;
}
.feature{
    padding:20px;

    h1{
        padding:40px;
        text-align: center;
        color:black;
        font-size: 42px;
        span{
            color: hsl(15deg 81.73% 56.88%);
               
        }
    }
}
.ft-content{
    @include flex(30px,row,wrap);
    .fbox{
        @include wh(221px,238px);
        border:$b;
        p{
            text-align: center;
            font-weight: bold;
            font-size:20px;
            padding:12px;
        }
        img{
            @include wh(218px,201px);
            border-radius: 10px;
        }
    }
    
.info{
   border:$b;

    .box1{
        background-image: url('https://www.sangalotech.com/html/15/assets/images/offer-banner-1.jpg');

    }
    .box2{
        background-image: url('https://www.sangalotech.com/html/15/assets/images/offer-banner-2.jpg');
    }
    .box3{
        background-image: url('https://www.sangalotech.com/html/15/assets/images/offer-banner-3.jpg');
    }
    &-box{
            @include flex(20px);
        text-align: left;
        line-height: 38px;
        @include wh(380px,270px);
        background-size: cover;
        padding:17px;
        border:$b;
        h1{
            font-size: 40px;
        }
        p{
            text-transform: uppercase;
            // font-size: 18px;
            font-weight: 700;
        }
        a{
            text-decoration: none;
            color: white;
            padding:10px;
            background-color:$c;
            border-radius: 20px;
        }
    }

}
}