
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
    width:1200px;
    margin:0px auto;
}
.head{
    padding:30px;
    justify-content: space-around;
    /* border:1px solid black; */
}
.flex{
    display:flex;
}
ul{
    list-style:none;
    /* justify-content: center; */
    gap:10px;
}
ul li a{
    text-decoration:none;
    color:black;
    font-size: 20px;
    font-weight: bold;
}
.logos{
    gap:20px;
}
main{
    position:relative;
    justify-content:space-around;
    align-items:center;
    height:600px;
    border-radius: 50px;
    background-color: #ffdfd5;
    line-height:60px;
}
.main-right img{
    position:absolute;
    top:-50px;
    right:0px;
}
.after-main{
    padding-top:60px;
    text-align: center;
}
.pbox{
    border:1px solid black;
    width:300px;
    line-height:20px;

}
.pbox-img{
    border:1px solid black;
    background-color: #ffdfd5;
    height: 350px;

}
.pbox-content{
    border:1px solid black;
}
.comments{
    height:500px;
    background-color: #ffdfd5;
}